*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/release
/vendor
/api-credentials.json
.project
.settings/
.classpath
/.vscode/
*.jks
keystore.properties